In [3]:
# importing libraries
import pandas as pd
import numpy as np

#reading the data file and storing in an excel file
#df = pd.read_csv("adult.data", sep=",", header=None)
#df.to_excel("adult.xlsx")

In [4]:
df =  pd.read_excel('adult.xlsx')

In [68]:
#Checking the unique values to find the categories

df['Workclass'].unique()
df['Education'].unique()
df['Marital Status'].unique()
df['Occupation'].unique()
df['Relationship'].unique()
df['Race'].unique()
df['Sex'].unique()
df['Native Country'].unique()
df['Class'].unique()

array(['<=50K', '>50K'], dtype=object)

In [ ]:
# from the above output we can see that we have ' ?' and space in the every word at the beginning

In [ ]:
#use strip function on the following columns to remove the space at the beginning as well as the space at the end

df['Workclass'] = df['Workclass'].str.strip()
df['Education'] = df['Education'].str.strip()
df['Marital Status'] = df['Marital Status'].str.strip()
df['Occupation'] = df['Occupation'].str.strip()
df['Relationship'] = df['Relationship'].str.strip()
df['Race'] = df['Race'].str.strip()
df['Sex'] = df['Sex'].str.strip()
df['Native Country'] = df['Native Country'].str.strip()
df['Class'] = df['Class'].str.strip()

In [54]:
# we need to replace '?' to unknown in the following columns

df['Workclass']=df['Workclass'].replace('?','Unknown')
df['Occupation']=df['Occupation'].replace('?','Unknown')
df['Native Country']=df['Native Country'].replace('?','Unknown')
df['Class']=df['Class'].replace('?','Unknown')

In [ ]:
# in the df['Native Country'].unique() line we found that there are values in the Native Country column which
# Cannot be recongnized by Tableau
# Hence we need to replace them with correct names

In [65]:
#Replacing countries with correct title
df['Native Country']=df['Native Country'].replace('South','South Africa')
df['Native Country']=df['Native Country'].replace('Columbia','Colombia')
df['Native Country']=df['Native Country'].replace('England','United Kingdom')
df['Native Country']=df['Native Country'].replace('Holand-Netherlands','Netherlands')
df['Native Country']=df['Native Country'].replace('Hong','Hong Kong')
df['Native Country']=df['Native Country'].replace('Outlying-US(Guam-USVI-etc)','Guam')
df['Native Country']=df['Native Country'].replace('Scotland','United Kingdom')
df['Native Country']=df['Native Country'].replace('Trinadad&Tobago','Trinidad and Tobago')
df['Native Country']=df['Native Country'].replace('Yugoslavia','Unknown')

In [77]:
# Saving the data to excel file which can be used for tableau
df.to_excel("cleaned_adult_data_reg.xlsx", index=False)

In [70]:
df.isnull().sum()
#There are no missing values

Age               0
Workclass         0
fnlwgt            0
Education         0
Education Year    0
Marital Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital Gain      0
Captial Loss      0
Hours Per Week    0
Native Country    0
Class             0
dtype: int64

In [71]:
#Chekcing the unique values in workclass for analysis and grouping them
df['Workclass'].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', 'Unknown', 'Self-emp-inc', 'Without-pay',
       'Never-worked'], dtype=object)

In [ ]:
# there are 3 categories which can be combined together
# combine : state-gov, federal-gov and local-gov and rename the group by government
# this step can be done in tableau directly

In [72]:
df['Occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', 'Unknown', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [ ]:
# The above occupation data can be grouped and renamed into blue-collar, white-collar, Professional, service,
# Below groups will be done in tableau

# White-Collar <- Adm-clerical, Exec-managerial
# Blue-Collar <- Craft-repair, Farming-fishing, Handlers-cleaners, Machine-op-inspct, Transport-moving
# Service <- Other-service, Priv-house-serv, Protective-serv, Tech-support
# Professional <- Prof-specialty 
# Unknown <-  other/unknown

# above data will give us the plot of income level for different occupations(we will calculate it's percentage)

In [73]:
df['Marital Status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [ ]:
# The above Marital Status data can be grouped and renamed into Married, Single
# Below groups will be done in tableau

# Married <-  Marital Status, Married-AF-spouse, Married-spouse-absent
# Single <- Never-married
# above data will give us the plot of income level with marital status

In [ ]:
# Next plot will give us Race, Income and its count or percentages

In [ ]:
# female male using image
# age histogram with mean
# Radical bar
# Map Visual with filters
# dual axis plot

In [75]:
# The best thing is doing regression model for predicting earing potential
# to perform regression analysis we need numerical data 
# we can convert the class to 0 and 1

In [102]:
df =  pd.read_excel('cleaned_adult_data.xlsx')

In [106]:
df2=df.copy()
df2['Occupation'] = df2['Occupation'].map({'Unknown': 0, 'Farming-fishing': 1, 'Tech-support': 2, 
                                                       'Adm-clerical': 3, 'Handlers-cleaners': 4, 'Prof-specialty': 5,
                                                       'Machine-op-inspct': 6, 'Exec-managerial': 7, 
                                                       'Priv-house-serv': 8, 'Craft-repair': 9, 'Sales': 10, 
                                                       'Transport-moving': 11, 'Armed-Forces': 12, 'Other-service': 13, 
                                                       'Protective-serv': 14}).astype(int)

In [107]:
df2['Class'] = df2['Class'].map({'<=50K': 0, '>50K': 1}).astype(int)

In [108]:
df2['Race'] = df2['Race'].map({'Black': 0, 'Asian-Pac-Islander': 1, 'Other': 2, 'White': 3, 
                                             'Amer-Indian-Eskimo': 4}).astype(int)

In [109]:
df2['Marital Status'] = df2['Marital Status'].map({'Married-spouse-absent': 0, 'Widowed': 1, 
                                                             'Married-civ-spouse': 2, 'Separated': 3, 'Divorced': 4, 
                                                             'Never-married': 5, 'Married-AF-spouse': 6}).astype(int)

In [110]:
df2.Occupation.replace(0, np.nan, inplace=True)

In [111]:
#workclass
#relationship
#sex
df2['Education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [112]:
df2['Education'] = df2['Education'].map({'Bachelors': 0, 'HS-grad': 1, 
                                                             '11th': 2, 'Masters': 3, '9th': 4, 
                                                             'Some-college': 5, 'Assoc-acdm': 6,'Assoc-voc': 7, '7th-8th': 8, 
                                                             'Doctorate': 9, 'Prof-school': 10, '5th-6th': 11, 
                                                             '10th': 12, '1st-4th': 13,'Preschool':14,'12th':15}).astype(int)

In [113]:
df2['Workclass'] = df2['Workclass'].map({'State-gov': 0, 'Self-emp-not-inc': 1, 
                                                             'Private': 2, 'Federal-gov': 3, 'Local-gov': 4, 
                                                             'Unknown': 5, 'Self-emp-inc': 6,'Without-pay':7,'Never-worked':8}).astype(int)

In [114]:
df2['Relationship'] = df2['Relationship'].map({'Not-in-family': 0, 'Husband': 1, 
                                                             'Wife': 2, 'Own-child': 3, 'Unmarried': 4, 
                                                             'Other-relative': 5}).astype(int)

In [115]:
df2['Sex'] = df2['Sex'].map({'Male': 0, 'Female': 1}).astype(int)

In [116]:
df2.head()

,Age,Workclass,fnlwgt,Education,Education Year,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Captial Loss,Hours Per Week,Native Country,Class,Country_Weblink
0,39,0,77516,0,13,5,3.0,0,3,0,2174,0,40,United-States,0,us
1,50,1,83311,0,13,2,7.0,1,3,0,0,0,13,United-States,0,us
2,38,2,215646,1,9,4,4.0,0,3,0,0,0,40,United-States,0,us
3,53,2,234721,2,7,2,4.0,1,0,0,0,0,40,United-States,0,us
4,28,2,338409,0,13,2,5.0,2,0,1,0,0,40,Cuba,0,cuba

In [ ]:
#Inferences:

#Married citizens with spouse have higher chances of earning more than those who're unmarried/divorced/widowed/separated.
#Males on an average make earn more than females.
#Higher Education can lead to higher income in most cases.
#Asian-Pacific-Islanders and white are two races that have the highest average income.

In [83]:
#Plot Correlation and based on abs corr we can decide best factors
#education number
#age
#hours per week
# relationship 
# marital status
#df.to_excel("cleaned_adult_data_numerical.xlsx", index=False)

In [117]:
from scipy.stats import pointbiserialr
from scipy.stats import spearmanr
#colnames=df2.columns
colnames=['Marital Status','Age', 'Education Year','Relationship','Race','Sex','Hours Per Week','Education']
param=[]
cor=[]
abs_cor=[]
for c in colnames:
    if c!='Class':
        if len(df2[c].unique())<=2:
            corr=spearmanr(df2['Class'],df2[c])[0]
        else:
            corr=pointbiserialr(df2['Class'],df2[c])[0]
        param.append(c)
        cor.append(corr)
        abs_cor.append(abs(corr))
par_df= pd.DataFrame({'Column':param,'Correlation':cor,'absolute_cor':abs_cor})
par_df=par_df.sort_values(by=['absolute_cor'],ascending=False)
par_df

           Column  Correlation  absolute_cor
0  Marital Status    -0.363755      0.363755
2  Education Year     0.335154      0.335154
1             Age     0.234037      0.234037
6  Hours Per Week     0.229689      0.229689
5             Sex    -0.215980      0.215980
3    Relationship    -0.171294      0.171294
4            Race     0.079782      0.079782
7       Education    -0.046218      0.046218

In [104]:
df['Country_Weblink'] = df['Native Country'].str.lower()
df['Country_Weblink']=df['Country_Weblink'].replace('united-states','us')
df['Country_Weblink']=df['Country_Weblink'].replace('united kingdom','uk')

In [120]:
with pd.ExcelWriter("cleaned_adult_data.xlsx") as writer:
    df.to_excel(writer, sheet_name="Adult Data", index=False)
    df2.to_excel(writer, sheet_name="Adult Numerical Data", index=False)
    par_df.to_excel(writer, sheet_name="Correlation", index=False)

In [121]:
df.head()

,Age,Workclass,fnlwgt,Education,Education Year,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Captial Loss,Hours Per Week,Native Country,Class,Country_Weblink
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,us
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,us
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,us
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,us
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,cuba